

#product-overview {
    background:url(becca-tapert--A_Sx8GrRWg-unsplash.jpg);
    background-size:cover;
    width: 100%;
    height: 528px;
    padding: 10px;


}

.section-title {

    color:#008891;
    text-align: center;

}


#product-overview h1 {
    color: #008891;
    font-family: 'Anton', sans-serif;
    
}

.plan{
    background-color: #54e346;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.plan--highlighted{
background-color:#008891;
color: white;
box-shadow:2px 2px 2px 2px rgba(0,0,0,.5);
}
.plan__badge{
    background: white;
    color:#008891;
    padding: 8px;
     box-shadow: 2px 2px 2px 2px rgba(0,0,0,.5);
     border-radius:8px
}
.plan__title{
    color: #ffff;
}
.plan__price{
    color: #e7e7de;;
}
.plan--highlighted .plan__price {
    color: #e8e8e8;
}
.plan--highlighted  .plan__title {
    color: white;
}


.plan--features{
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 8px 0;
}
.button{

    background-color: #008891;
    color: white;
    font: inherit;
    border: 1.4px solid #e8e8e8 ;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover{
    background-color: white;
    color: #008891;
}
.button:active{
    background-color: white;
    color: #008891;
}
.button:focus{
    outline: none;
}
.button-special {
    background-color: #ffff;
    color: #008891;
}
/* ???????????End Plans////////////////// */
#key-feature {
    background-color: #74c7b8;
    padding-top: 10px;
    margin-top: 80px;
}

#key-feature > .section-title {
   color: white;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;

}

.key-feature__list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

}
.key-feature{
    display: inline-block;
    width: 30%;
}
.key-feature__image{

    background-color: #0f3057;
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    height: 128px;
    margin: auto;
}

.key-feature__description{
text-align: center;
font-weight: bold;
color: white;
vertical-align: top;

}


/*           -----------                     */


